<div class="navbar-fixed">
  <nav class="nav-wrapper light-green accent-4">
      <h5 href="#" id="navbar-title">IT-Muslim</h5>
      <ul id="nav-desktop" class="right hide-on-med-and-down">
      <li><a href="/">List surah</a></li>
      </ul>
      <ul id="nav-mobile" class="right show-on-medium-and-down hide-on-large-only">
        <li id="nav-toggler">
          <i id="dehaze" class="large material-icons">dehaze</i>
        </li>
      </ul>
  </nav>
</div>

<!-- mobile navbar -->
<nav id="navbar-mobile" >
  <div id="navbar-mobile-icon">
      <i id="navbar-mobile-close" class="material-icons">close</i>
  </div>
  <h3 id="navbar-mobile-title">IT-Muslim</h3>
  <div id="navbar-mobile-content">
      <button class="navbar-mobile-item" >
        <a href="/">List surah</a>
      </button>
      <button class="navbar-mobile-item" >
        <a href="">Cari masjid</a>
      </button>
  </div>
</nav>
<!-- mobile navbar -->
