<div class="navbar-fixed">
  <nav class="nav-wrapper cyan accent-2">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="modal-trigger" href="#modal-map">Cari Masjid</a></li>
    </ul>
  </nav>
</div>

<!-- Modal -->
<div id="modal-map" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Map</h4>
    <div id="map" style="height: 350px; width: 100%">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Tutup</a>
  </div>
</div>
