.audio-container {
    display: flex;
    padding: 8px;
    align-items: center;
}

.audio-player {
    flex-grow: 1;
}

.btn-close {

}

.surah-content {
    padding: 10px;
}
.surah-detail {
    padding: 10px;
}

.surah-title {
    font-size: 30px;
}

.surah-item {
    margin: 10px 0 !important;
}