*{
    font-weight: normal !important;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.brand-logo {
    padding: 0 15px !important;
}

ul {
    padding-left: 0;
    text-align: right;
}
li {
    list-style-type: none;
}

#modal-detail ul {
    text-align: left;
}

.btn-go {
    padding-left: 0;
    text-transform: none;
}


