{% extends "layouts/default.html" %}


{% block addonCss %}
  <link rel="stylesheet" href="/assets/css/detail.css"/>
{% endblock %}

{% block addonJs %}
  <script src="/assets/js/main.js"></script>
{% endblock %}


{% block mainContent %}
  <div class="container">
    <div class="section row">
      <div class="col s12">
        <ul class="collection">
          {% for ayah in surah.ayahs %}
            <li class="collection-item no-padding surah-item">
              <div class="surah-content">
                <span class="title surah-title">{{ ayah.text }}</span>
                <p>Ayat ke-{{ ayah.numberInSurah }}</p>
              </div>
              <div data-ayah="{{ ayah.number }}" class="surah-detail cyan accent-2">
                <a class="waves-effect waves-teal btn-flat btn-audio" onclick="playAudio(this)">Play Audio</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}