{% extends "layout.html" %}


{% block addonCss %}
  <link rel="stylesheet" href="/assets/css/index.css"/>
{% endblock %}

{% block mainContent %}
  <ul>
    {% for a in data.ayahs %}
      <li>
        <div class="quran-card">
            <div class="to3rem font-uthmani">
              {{a.text}}
            </div>
            <div class="control-container" data-number="{{a.number}}">
              <button class="btn-audio" >Play audio</button>
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block addonJs %}
  <script src="/assets/js/index.js"></script>
{% endblock %}
