<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/materialize.min.css"/>
    <script src="/assets/js/materialize.min.js"></script>
    {% block addonCss %}{% endblock %}
</head>
<body>

    <div>
        <nav class="black-text nav-wrapper cyan accent-2">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </nav>
    </div>

    {% block mainContent %}{% endblock %}

</body>
    {% block addonJs %}{% endblock %}
</html>